<div id="deals-feed" class="span-24 last">

  <div class="top_part" style="width:100%; height:auto; overflow: hidden; margin-bottom:10px;">
    <div class="deals_sort_by" style="float:right; margin-right:45px">
      <strong>Sort deals by:</strong>
      <select id="deals_sort_by" name="deals_sort_by">
        <option value="expiry" SELECTED>expiry</option>
        <option value="rating">rating</option>
        <option value="max_deal">max deal</option>
      </select>
    </div>
  </div>

  <div class="left_filters" style="width:18%; height:auto; float: left; overflow: hidden;">
    <div>
      <h3>Filters</h3>
      <div>
        <h5>by max/min deal:</h5>
        <span class="deal_value" id="deal_max_filter">max</span>|
        <span class="deal_value" id="deal_min_filter">min</span>
      </div>
      <div>
        <h5>with expiry date:</h5>
        <input type="text" id="deal_expiry_datepicker" value="Select date..." size="10"></p>
      </div>
      <div>
        <h5>by tags:</h5>
          <ol id="selectable_tags">
            <% @first_ten_tags.each do |tag| %>
              <li class="first_ten_tags"><%= tag %></li>
            <% end %>
            <% @other_tags.each do |tag| %>
              <li class="other_tags"><%= tag %></li>
            <% end %>
          </ol>
          <% if @other_tags.present? %>
            <div id="more_tags">more tags</div>
          <% end %>
      </div>
      <div>
        <h5>by companies:</h5>
          <ol id="selectable_companies">
            <% @top_companies.each do |c| %>
              <li class="top_companies"><%= c.name %></li>
            <% end %>
            <% @other_companies.each do |c| %>
              <li class="other_companies"><%= c.name %></li>
            <% end %>
          </ol>
          <% if @other_companies.present? %>
            <div id="more_companies">more companies</div>
          <% end %>
      </div>
    </div>
  </div>

  <div class="deals_list" style="width:82%; height:auto; float:right; overflow: hidden;">
    <% @deal_emails.each do |deal_email| %>
      <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all">
        <a href="#"><%= deal_email.subject %></a>
      </h3>
      <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom deal_info">
        Sent at: <%= deal_email.sent %><br />
        <%= deal_email.deal.title %><br />
        <strong>$</strong> <%= deal_email.deal.maxvalue %><br />
        Will expiry <%= distance_of_time_in_words(Time.now, deal_email.deal.expiry) %><br />
        Company: <%= deal_email.deal.company.name %><br />
        <%= image_tag(deal_email.deal.company.image) %><br />
        Tag list: <%= deal_email.deal.tag_list.join(',') %><br />
        <div class="rate_and_like" id="rate_and_like_<%= deal_email.deal.id %>">
          <div id="deal_like">
          <fb:like href="<%= deals_path %>" layout="button_count" show_faces="false" width="450" font=""></fb:like>
          </div>
          <div id="deal_rate">
            <strong class="rating_title">Rating: </strong>
            <div class="rating_stars" id="stars-wrapper_<%= deal_email.deal.id %>">
              <select name="selrate">
                <option value="1">Very poor</option>
                <option value="2">Not that bad</option>
                <option value="3">Average</option>
                <option value="4" selected="selected">Good</option>
                <option value="5">Perfect</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
#Deals {
  height: auto;
  overflow: hidden;
}

ol {
  list-style-type: none;
  padding-left:10px;
}

.ui-selected {
  background-color: yellow;
}

.other_companies, .other_tags {
  display: none;
}

.left_filters li {
  cursor: pointer;
}

#companies_filter li, tag_filter li {
  width: 100px;
  height 20px;
}

.deals_list h3.ui-accordion-header, .deals_list div.ui-accordion-content {
  width: 735px;
}

.left_filters h5 {
  margin-bottom: 5px;
}

ol#selectable_tags {
  margin-bottom: 5px;
}

.left_filters div {
  margin-bottom:10px;
  margin-left:10px;
}

#deals_sort_by {
  margin-left:10px;
}

#more_companies, #more_tags {
  font-weight: bold;
}

.deal_value {
  margin-left: 10px;
}

.deal_value span {
  width: 50px; height: 20px;
}

#deal_max_filter {
  margin-right: 15px;
}

#deal_expiry_datepicker {
  margin-left: 10px;
}

.deals_list h3 {
  padding-left: 10px;
}

.deal_info {
  padding: 10px 0px 0px 10px;
}

.rate_and_like {
  height:30px;
  oveflow:hidden;
  width: auto;
  margin-bottom: 5px;
  padding-top: 5px;
}

#deal_rating {
  margin-right: 10px;
}

#deal_rate {
  width:160px;
  height:20px;
  padding: 5px 0px 5px 5px;
  float: left;
}

#deal_like {
  width:100px;
  height: 20px;
  overflow: hidden;
  padding:  4px 5px 3px 0px;
  float:left;
}

.rating_title {
  float: left;
  margin-right: 10px;
}

.rating_stars {
  float: left;
}

</style>

<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>

<script type="text/javascript">

$(document).ready(function(){

  <!-- Left Column Last ExpiryDate Datapicker -->

    $( "#deal_expiry_datepicker" ).datepicker();

  <!-- Selectable logic for tags -->
    $( "#selectable_tags" ).selectable();

  <!-- Selectable logic for companies -->
    $( "#selectable_companies" ).selectable();

  <!-- Feed deal rating logic >

    <% @deal_emails.each do |deal_email| %>
      $("#stars-wrapper_<%= deal_email.id %>").stars({
        inputType: "select"
      });
    <% end %>

  <!-- Left Column max_deal/min_deal filter logic -->

  $('#deal_value_filter').click(function() {
    current_text = $(this).text();
    if(current_text=='max'){
      $(this).text("min");
    }
    else {
      $(this).text("max");
    }
  });

  <!-- Left Column companies filter logic -->

  $('#more_tags').click(function() {
    current_text = $(this).text();
    if(current_text=='more tags'){
      $(this).text("hide other tags");
      $('.other_tags').fadeIn(1000);
    }
    else {
      $(this).text("more tags");
      $('.other_tags').fadeOut(1000);
    }
  });

  <!-- Left Column companies filter logic -->

  $('#more_companies').click(function() {
    current_text = $(this).text();
    if(current_text=='more companies'){
      $(this).text("hide other companies");
      $('.other_companies').fadeIn(1000);
    }
    else {
      $(this).text("more companies");
      $('.other_companies').fadeOut(1000);
    }
  });

});

</script>

