<div id="deals-feed" class="span-24 last">

  <div class="top_part" style="width:100%; height:auto; overflow: hidden; margin-bottom:10px;">
    <div class="deals_sort_by" style="float:right; margin-right:45px">
      <strong>Sort by:</strong>
      <select id="deals_sort_by" name="deals_sort_by">
        <option SELECTED>select...</option>
        <option value="expiry">expiry</option>
        <option value="max_deal">max deal</option>
        <option value="min_deal">min deal</option>
        <option value="rating">rating</option>
      </select>
    </div>
  </div>

  <div class="left_filters" style="width:18%; height:auto; float: left; overflow: hidden;">
    <div>
      <h3>Filters</h3>
      <div>
        <h5>by value:</h5>
        <span class="deal_value" id="deal_max_filter">max</span>|
        <span class="deal_value" id="deal_min_filter">min</span>
      </div>
      <div>
        <h5>with expiry date:</h5>
        <input type="text" id="deal_expiry_datepicker" value="Select date..." size="10" />
      </div>
      <div>
        <h5>by tags:</h5>
          <ol id="selectable_tags">
            <% @first_ten_tags.each do |tag| %>
              <li class="first_ten_tags"><%= tag %></li>
            <% end %>
            <% @other_tags.each do |tag| %>
              <li class="other_tags"><%= tag %></li>
            <% end %>
          </ol>
          <% if @other_tags.present? %>
            <div style="clear: both;"></div>
            <div id="more_tags">more tags</div>
          <% end %>
      </div>
      <div style="clear: both;"></div>
      <div>
        <h5>by companies:</h5>
          <ol id="selectable_companies">
            <% @top_companies.each do |c| %>
              <li class="top_companies" id="<%= c.id %>"><%= c.name %></li>
            <% end %>
            <% @other_companies.each do |c| %>
              <li class="other_companies" id="<%= c.id %>"><%= c.name %></li>
            <% end %>
          </ol>
          <% if @other_companies.present? %>
            <div style="clear: both;"></div>
            <div id="more_companies">more companies</div>
          <% end %>
      </div>
    </div>
  </div>

  <div class="deals_list" id="deals_list" style="width:82%; height:auto; float:right; overflow: hidden;">
    <%= render :partial => 'form', :collection => @deal_emails, :as => :deal_email %>
    <div id="loading"></div>
    <%= link_to "Load more", "#", :class => "next" %>
  </div>
  <div id="hidden_url" style="display:none;">'/deals.js?page='</div>
  <div id="hidden_current_page" style="display:none;">1</div>
</div>

<script type="text/javascript">

$(document).ready(function(){

  <!-- Left Column Last ExpiryDate initialize Datapicker -->

    $("#deal_expiry_datepicker").datepicker();

  <!-- Left Column Selectable logic for tags -->

    $("#selectable_tags").selectable({
			stop: function() {
        var tag_names = [];
				$(".ui-selected", this).each(function() {
          tag_names.push($(this).text());
				});
      data = { deals_with_tags_filter: tag_names };
      $.get("<%= deals_with_tags_path %>", data);
			}
    });

  <!-- Left Column Selectable logic for companies -->

    $("#selectable_companies").selectable({
			stop: function() {
        var companies_ids = [];
				$(".ui-selected", this).each(function() {
          companies_ids.push($(this).attr("id"));
				});
      data = { deals_by_companies_filter: companies_ids };
      $.get("<%= deals_by_companies_path %>", data);
			}
    });

  <!-- Left Column more tags logic -->

    $('#more_tags').click(function() {
      current_text = $(this).text();
      if(current_text=='more tags'){
        $(this).text("hide other tags");
        $('.other_tags').fadeIn(1000);
      }
      else {
        $(this).text("more tags");
        $('.other_tags').fadeOut(1000);
      }
    });

  <!-- Left Column more companies logic -->

    $('#more_companies').click(function() {
      current_text = $(this).text();
      if(current_text=='more companies'){
        $(this).text("hide other companies");
        $('.other_companies').fadeIn(1000);
      }
      else {
        $(this).text("more companies");
        $('.other_companies').fadeOut(1000);
      }
    });

  <!-- Left Column Max/Min filters logic -->

    $('#deal_max_filter').click(function() {
      data = { deals_by_value_filter: "max" }
      $.get("<%= deals_by_max_or_min_value_path %>", data);
    });

    $('#deal_min_filter').click(function() {
      data = { deals_by_value_filter: "min" }
      $.get("<%= deals_by_max_or_min_value_path %>", data);
    });

  <!-- Left Column Last ExpiryDate filters logic -->

    $('#deal_expiry_datepicker').change(function () {
      data = { deals_with_expiry_date_filter: $(this).val() }
      $.get("<%= deals_with_last_expiry_date_path %>", data);
    });

  <!-- Top right sort_by_box logic -->

    $("#deals_sort_by").change(function () {
      $("select#deals_sort_by option:selected").each(function () {
        var str = $(this).text();
        if(str=='expiry'){
          $.get("<%= deals_by_expiry_date_path %>");
        }
        else if(str=='max deal') {
          data = { deals_by_value_filter: "max" }
          $.get("<%= deals_by_max_or_min_value_path %>", data);
        }
        else if(str=='min deal') {
          data = { deals_by_value_filter: "min" }
          $.get("<%= deals_by_max_or_min_value_path %>", data);
        }
        else if(str=='rating') {
          $.get("<%= deals_by_rating_path %>");
        }
      });
    }).change();

  <!-- Feed deal initialize 'more' button -->

    $('a.next').button();

  <!-- Feed deal initialize rating logic >

    $('.rating_stars').stars({
      inputType: "select"
    });

  <!-- Feed deal 'more deals' button logic -->

    var first_case = true;

    $("a.next").click(function() {
      if(first_case == true ){
        first_case = false;
        var currPage = 1;
        var url = "/deals.js?page=";
      }
      else{
        var currPage = $('#hidden_current_page').text();
        var url = $('#hidden_url').text();
      }
      loadMore(url, ++currPage);
    });

});

  <!-- Feed deal load_more_function logic -->

    function loadMore(url, pageNo) {
      $.get(url + pageNo);
    }

</script>

