<div id="deals-feed" class="span-24 last">
  
    <% @deals.each do |deal| %>
      <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all">        
        <a href="#"><%= deal.title %></a>
      </h3>
      <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
        Will expire at:<%= deal.expiry %><br />
        Tagged to: <%= deal.tag_list %><br />
        Deal is from: <%= deal.company.name %> <br/>
        Deal Type: <%= deal.deal_type.name %>
      </div>
    <% end %>
</div>