<!DOCTYPE html>
<html>
  <head>
    <title>Lumlate: Deal Subscriptions Organized</title>
    <%= stylesheet_link_tag :all, :recursive => true %>
    <%= javascript_include_tag "jquery.min", "jquery-ui.min", "rails", "application", "http://connect.facebook.net/en_US/all.js#xfbml=1" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class = "container">
      <div id="header" class="span-24 last">
        <p><%= link_to 'Home', root_path %></p>

        <% if user_signed_in? %>
          <div id="user_login_box" style="float:right">
            <%= current_user.email %> |
            <%= link_to 'My info', edit_user_registration_path %> |
            <%= link_to 'Sign out', destroy_user_session_path %>
          </div>
        <% end %>
      </div>
      <hr/>
      <div id="msg" class="span-24 last">
        <% flash.each do |name, msg| %>
          <div id="msgui" class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
            <p><% if name == :error %>
              <span class="ui-icon ui-icon-error" style="float: left; margin-right: .3em;"></span>
              <% else %>
              <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
              <% end %>
              <%= msg %></p>
          </div>
        <% end %>

      </div>
      <div id="content" class="span-24 last">
        <%= yield %>
      </div>
      <div id="footer" class="span-24 last">
      </div>
    </div>

  </body>
</html>

